server:
  port: 7070
spring:
  application:
    name: user-service
  config:
    import: classpath:kafka_user_service-dev.yml
  datasource:
    url: jdbc:mysql://mysql:3306/ecommerce_user?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect